:root {
    background-color: lightgray;
    width: rem;
    margin: auto;
}

#foto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: auto;
    width: max-content;
}

img {
    align-content: center;
    justify-content: center;
    margin: 0;
    width: 200px;
    height: 200px;
}

.zoomed-img {
    background: rgba(0, 0, 0, 0.5);
}
